appdirs==1.4.3
Beaker==1.11.0
btrfsutil==1.2.0
CacheControl==0.12.6
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0.post1
distlib==0.3.0
distro==1.5.0
filelock==3.0.12
future==0.18.2
Glances==3.1.4.1
html5lib==1.0.1
idna==2.9
isc==2.0
lit==0.10.0.dev0
Mako==1.1.2
MarkupSafe==1.1.1
meson==0.54.1
msgpack==1.0.0
ordered-set==3.1.1
packaging==20.3
pep517==0.8.2
ply==3.11
progress==1.5
psutil==5.7.0
pwquality==1.4.2
pyparsing==2.4.7
pytoml==0.1.21
Reflector==2020.3.21.11.40.36
requests==2.23.0
retrying==1.3.3
s-tui==1.0.0b3
six==1.14.0
team==1.0
toml==0.10.0
urllib3==1.25.9
urwid==2.1.0
virtualenv==20.0.18
webencodings==0.5.1
